:root {
  --primary-color: #36d6ae;
  --green-light: #76ff03;
}

* {
  font-family: "Play", sans-serif;
}

html {
}

body {
  min-width: 280px;

  /* background-color: black; */
  /* color: white; */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  /* color: var(--green-light); */
  opacity: 0.7;
  text-decoration: underline;
}

h5 {
  font-size: 14px;
}

h5 > span,
h5 > a {
  font-weight: 400;
}
